<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokemon</title>
  </head>
  <body>
    {% extends "main.html" %}
    {% block content %}

    <div class="container">

    <div class="pokeDexScreen"> 
    {% if found %}

        {%if pokemon %}
            <div id="pokeMonSlider" class="carousel slide pokeScreen scanlines" data-ride="carousel">

              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#pokeMonSlider" data-slide-to="0" class="active"></li>
                <li data-target="#pokeMonSlider" data-slide-to="1"></li>
              </ul>
              
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{response.sprites.front_default}}" width="100%" />
                </div>
                <div class="carousel-item">
                  <img src="{{response.sprites.back_default}}" width="100%" />
                </div>
              </div>
              
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#pokeMonSlider" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#pokeMonSlider" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>

            <div class="row">
                    <dt class="col-sm-3">Name</dt>
                    <dd class="col-sm-9">{{response.name}}</dd>
                    <dt class="col-sm-3">Order</dt>
                    <dd class="col-sm-9">{{response.order}}</dd>
                    <dt class="col-sm-3">Weight</dt>
                    <dd class="col-sm-9">{{response.weight}}</dd>
                    <dt class="col-sm-3">Type</dt>
                    <dd class="col-sm-9">
                    {% for item in response.types %}
                        <a href="{{ url_for('pokemon_types',type=item.type.name) }}">{{item.type.name}}</a>
                    {% endfor %}
                    </dd>
                    <dt class="col-sm-3">Abilities</dt>
                    <dd class="col-sm-9">
                    {% for item in response.abilities %}
                        <span class="badge badge-primary">{{item.ability.name}}</span>
                    {% endfor %}
                    </dd>
            </div>
        <div class="row">

          <div class="col">
              <p>{{ response.species.meta.species_description }}</p>
          </div>
          
        </div>


        <div class="row">

          <div class="col">

              <p><strong>Evolution Path</strong></p>

              {% if response.species.meta.evolution_chain.meta.chain.species.name %}

                <ul class="list-group">
                <li class="list-group-item list-group-item-action {% if response.species.meta.evolution_chain.meta.chain.species.name == response.name  %} list-group-item-success {% endif %}"><a href="{{ url_for('find_pokemon',pokemon=response.species.meta.evolution_chain.meta.chain.species.name) }}">{{ response.species.meta.evolution_chain.meta.chain.species.name.capitalize() }}</a>
              {% endif %}
              {% if response.species.meta.evolution_chain.meta.chain.evolves_to %}
                  <ul class="list-group b">
                  {% for item in response.species.meta.evolution_chain.meta.chain.evolves_to %}
                    <li class="list-group-item list-group-item-action {% if item.species.name == response.name  %} list-group-item-success {% endif %}"><a href="{{ url_for('find_pokemon',pokemon=item.species.name) }}">{{ item.species.name.capitalize() }}</a>
                    {% for path in item.evolves_to %}
                      <ul class="list-group">
                        <li class="list-group-item list-group-item-action {% if path.species.name == response.name  %} list-group-item-success {% endif %}"><a href="{{ url_for('find_pokemon',pokemon=path.species.name) }}">{{ path.species.name.capitalize() }}</a></li>
                      </ul>
                    {% endfor %}
                    </li>
                  {% endfor %}
                  </ul>
                </li>

                {% if response.species.meta.evolution_chain.meta.chain.species.name %}
                </li>
                {% endif %}

                </ul>
                
              {% endif %}          

          </div>

        </div>

        {% else %}
        <h1> Pokemon </h1>
        <p> Hey Trainer which pokemon are you looking for today?</p>
        {% endif %}

    {% else %}
        {%if pokemon %}
        <p>Sorry couldnt find a pokemon called "{{pokemon}}"</p>
        {% else %}
        <p>Hey Trainer, what pokemon are you looking for?</p>
        <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search Pokemon" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> 
        {% endif %}
    {% endif %}
    </div>
    </div>

    {% if pjson %}
    <pre style="display: none;">{{ pjson }}</pre>
    {% endif %}    
    
    {% endblock %}
  </body>
</html>